#bodyContainer{
    padding-top: 40px;
}
.lobby-page{
    text-align: center;
    display: flex;
    column-gap: 5%;
    justify-content: space-between;
    /* margin-left: 120px; */
    /* margin-right: 80px; */
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 80%;
}
.lobby-logo{
    max-width: 100%;
    height: auto;
    text-align: center;
}
.lobby-logo img{
    width: 30%;
    max-width: 516px;
    min-width: 320px;
    height: auto;
}


/* ================================================ */
/* LEFT SIDE */

.lobby-page-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 30px;
}

/* left-side-of-page */
.lobby-page-personal-info{
    width: 30%;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.lobby-page-personal-info-info{
    display:flex;
    flex-direction: column;
    text-align: left;
    flex-wrap: nowrap;
    color: white;
    line-height: 25px;
}
.lobby-page-personal-info-info p{
    font-size: 18px;
}

.logout{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 22px;
    gap: 10px;
}
.logout p{
    transition: all .2s ease-in-out;
}
.logout p:hover{
    transform: scale(1.1);
    color: var(--light-blue);
}

/* chat */
/* CHAT */

.chat-field{
    display: flex;
    flex-direction: column;
    width: 500px;
    border-radius: 12px;
    background: rgba(117, 117, 117, 0.5);
    /* margin-left: 80px; */
}
.chat-field-heder{
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    color: white;
}
.active{
    padding: 22px 28px;
}
.no-active{
    width: 65%;
    height: 65px;
}

/* GlobalActive */
.global-active{
    border-radius: 0px 12px;
    background: rgba(56, 56, 56, 0.50);
}
/* PrivateActive */
.private-active{
    border-radius: 12px 0px;
    background: rgba(56, 56, 56, 0.50);
}


.chat-message{
    width: 100%;
    height: 255px;
    padding: 15px;
}
.chat-insert{
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.chat-insert input{
    width: 100%;
}
.chat-insert-input{
    min-width: 70%;
}
.chat-message{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.chat-message-one{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 460px;
}
.chat-message-username{
    color: var(--light-blue);
    max-width: 130px;
}
.chat-message-msg{
    text-align: left;
    /* inline-size: 75;  */
    width: 100%;
    overflow-wrap: break-word; 
    color: white;
}
.welcome-msg{
    text-align: center;
    color: grey;
}
/* ================================================ */


.lobby-page-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* ROW */
/* active users & best score*/
.lobby-page-row{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    min-width: 920px;
    max-height: 510px;
}
.place{
    width: 40%;
    min-width: 450px;
    margin-top: 40px;
    text-align: left;
    color: white;
    display: flex;
    flex-direction: column;
}
.place p{
    font-size: 22px;
    margin-bottom: 10px;
}
.active-users-field{
    width: 100%;
    height: 400px;
    border-radius: var(--border-radius);
    background: var(--backgound-card);
    padding: 15px;
    overflow-y: auto;
    box-shadow: var(--box-shadow);
}


/* active-user */
.active-user{
    width: 100%;
    height: 85px;
    background-color: var(--color-green);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    padding: 0px 20px;
    padding-left: 10px;
    margin-bottom: 15px;
    box-shadow: var(--box-shadow);
}
.active-user-character{
    width: 85px;
}
.active-user p{
    font-size: 18px;
}
.active-user-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.active-user-info-status{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.dot{
    
    width: 15px;
    height: 15px;
    border-radius: 100%;
    box-shadow: var(--box-shadow);
}
.in-game{
    background-color: var(--color-in-game-lobby);
}
.free{
    background-color: var(--color-free-in-lobby);
}
.active-user-info-status p{
    margin: 0px;
    font-size: 16px;
}
.active-user-options{
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 20px;
}
.clicable{
    cursor: pointer;
}
/* list */
.list-message{
    width: 100%;
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.list-message-list{
    display: flex;
    flex-direction: row;
    height: 65px;
}
.new-message{
    display: flex;
    flex-direction: row;
    background-color: var(--color-green);
    padding: 3px 8px;
    padding-right: 0px;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);

    box-shadow: var(--box-shadow);
}
.new-message img{
    width: 55px;
}
.new-message-num{
    align-self: normal;
    position: relative;
    top: -12px;
    right: -10px;
}
.new-message-num p{
    background-color: var(--color-in-game-lobby);
    width: 20px;
    height: 20px;
    border-radius: 100%;
    text-align: center;
}
.new-message-open{
    display: flex;
    flex-direction: row;
    padding: 3px 8px;
    padding-right: 0px;
    justify-content: center;
    align-items: center;
    width: 80%;
    /* border-radius: 0px 12px; */
    /* box-shadow: var(--box-shadow);  */
    column-gap: 15px; 
}





.new-message-open img{
    width: 55px;
}
/* =================================== */

/* scroll */
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 8px;
}
::-webkit-scrollbar
{
	width: 10px;
}
::-webkit-scrollbar-thumb
{
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #707070;
}


/* ============================ */
/* @media only screen and (max-width: 600px){ */
@media screen and (max-width: 1550px) {
    .lobby-page{
        justify-content: space-around;
    }
    .lobby-page-row{
        flex-direction: column;
        max-width: 470px;
        min-width: auto;
        overflow-y: scroll;
        padding-bottom: 20px;
        align-items: center;
    }
    
    .lobby-page-row>div{
        padding-right: 20px;
    }
}

/* ==================================== */
#overlay{
    position: absolute;
    z-index: 2;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(56, 56, 56, 0.40);
}
.invite{
    display: flex;
    flex-direction: column;
    background-color: var(--color-green);
    max-width: 30%;
    min-width: 25%;
    /* min-width: 350px; */
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 10px 20px;
    gap: 5px;
}

.invite img{
    width: 150px;
}
.invite-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    color: white;
}
.invite-info{
    font-weight: bold;
}
.invire-response{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 30px;
    align-items: center;
}
.invire-response-field{
    font-size: 35px;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    box-shadow: var(--box-shadow);
    transition: all .2s ease-in-out;
}
.invire-response-field:hover{
    transform: scale(1.1);
}
.invire-response-field > i{
    padding: 0px 7px 7px 7px;
    color: white;
}
.accept{
    background-color: var(--color-free-in-lobby);
}
.denied{
    background-color: var(--color-in-game-lobby);
}

.scale-in-center{
    -webkit-animation: scale-in-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
}
@-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }

.scale-out-center {
	-webkit-animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes scale-out-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
  }
  @keyframes scale-out-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
  }
  

  /* ============= */
  body {
    font-family: sans-serif;
    display: grid;
    height: 100vh;
    place-items: center;
  }
  
  .base-timer {
    position: relative;
    width: 50px;
    height: 50px;
  }
  
  .base-timer__svg {
    transform: scaleX(-1);
  }
  
  .base-timer__circle {
    fill: none;
    stroke: none;
  }
  
  .base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: grey;
  }
  
  .base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
  }
  
  .base-timer__path-remaining.green {
    color: rgb(65, 184, 131);
  }
  
  .base-timer__path-remaining.orange {
    color: orange;
  }
  
  .base-timer__path-remaining.red {
    color: red;
  }
  
  .base-timer__label {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
  }

  /* Loader */
  /* ======================== */
    #loader{
    font-size: 25px;
    font-weight: bold;
    color: white;
    }
    @keyframes blink {50% { color: transparent }}
    .loader__dot { animation: 1s blink infinite }
    .loader__dot:nth-child(2) { animation-delay: 250ms }
    .loader__dot:nth-child(3) { animation-delay: 500ms }
    /* X - response */
    .x{
        color: var(--color-in-game-lobby);
        font-size: 40px;
        padding-bottom: 9px;
    }