/* match-info */
.match-info{
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 20px;
}
.player{
    min-width: 350px;
    width: 15%;
    padding-top: 15px;
}
.player p{
    font-size: 21px;
    
}
.player-score-character{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.player-score-character p{
    font-size: 36px;
}

.red{
    border: 4px solid var(--border-color-red) ;
    border-radius: 21px;
    border-top: none;
    border-left: none;
}
.red p{
    margin-left: 70px;
}
.blue{
    border: 4px solid var(--border-color-blue);
    border-radius: 21px;
    border-top: none;
    border-right: none;
}
.blue p{
    margin-right: 70px;
    text-align: right;
}
.match-vs{
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}
.match-vs img{
    width: 75px;    
}

/* game */
.game{
    width: 60%;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    min-width: 675px;
}
.top, .bottom{
    display: flex;
    flex-direction: column;
    row-gap:8px;
    min-width: 675px;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 25px;
    min-width: 675px;
}
.row button, .btn button{
    min-width: 325px;
    width: 30%;
    height: 48px;
    border-radius: 12px;
    box-shadow: var(--box-shadow);
    border: none;
}
.btn{
    position: relative;
    left: 65px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    gap: 15px;   
}
.row-2{
    width: 90%; 
    margin-left: auto;
    margin-right: auto; 
}
.row-3{
    width: 80%; 
    margin-left: auto;
    margin-right: auto; 
}
.row-4{
    width: 70%; 
    margin-left: auto;
    margin-right: auto; 
}
.row-5{
    width: 60%; 
    margin-left: auto;
    margin-right: auto; 
}

button{
    cursor: pointer;
}

.skip{
    position: relative;
    right: 0px; 
    width: 130px !important; 
    min-width: unset !important; 
    margin-bottom: 0px !important;
    pointer-events: auto;
}


/* DISABLED */
.everything  button,
.everything input{
    pointer-events: none !important;
    /* background-color: rgba(219, 219, 219, 0.8); */
    opacity: 0.7;
}
.disable-inputs input{  /*will be removed when open one button or haven't what play */
    pointer-events: none !important;
    /* background-color: rgba(219, 219, 219, 0.8); */
    opacity: 0.7;
}
.disable-button button{
    pointer-events: none !important;
    background-color: rgba(219, 219, 219, 0.8);
    /* opacity: 0.8; */
}

.disable-skip button{
    pointer-events: none !important;
    /* background-color: rgba(219, 219, 219, 0.8); */
    opacity: 0.7;
}

.no-disable-skip button{
    background-color: var(--light-blue) !important;
    pointer-events: auto !important;
}

.disable-manual{
  pointer-events: none !important;
  opacity: 0.7;
}

.enable-manual{
  /* pointer-events: auto !important; */
  opacity: 1;
}

/* effects */  
.scale-in-center{
    -webkit-animation: scale-in-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
}
@-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
.flip-horizontal-bottom {
	-webkit-animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    background-color: var(--button-yellow) !important;
    cursor: auto;
}
@-webkit-keyframes flip-horizontal-bottom {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-360deg);
              transform: rotateX(-360deg);
    }
  }
  @keyframes flip-horizontal-bottom {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-360deg);
              transform: rotateX(-360deg);
    }
  }
  /* ============================ */
  .challanger-win{
    background-color: var(--border-color-red) !important;
    color: white;
    pointer-events: none;
  }
  .enemy-win{
    background-color: var(--border-color-blue) !important;
    color: white;
    pointer-events: none;
}


/* SHAKE */
.shake-horizontal {
	-webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
 @-webkit-keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
  @keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
  
/* overlay */
#overlay{
  position: absolute;
  z-index: 2;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(56, 56, 56, 0.40);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.overlay-notify{
  color: white;
  display: flex;
  flex-direction: column;
  background-color: var(--color-green);
  max-width: 30%;
  min-width: 25%; 
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 15px 25px;
  gap: 25px;
  font-size: 1.5vw;
}
@media (min-width: 1490px) {
  .overlay-notify{
    font-size: 24px; 
  }
}
@media (max-width: 1200px) {
  .overlay-notify{
    font-size: 18px; 
    max-width: none;
    min-width: none;
  }
}

/* timer */
.base-timer {
  position: relative;
  width: 50px;
  height: 50px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
}